.big-card__container {
  max-width: 400px;
  height: 100%;
  min-height: 400px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 0;
}
.big-card__container a {
  text-decoration: none;
}

.big-card__photo > img {
  width: 100%;
}

.big-card__title > h1 {
  font-size: clamp(20px, 5vw, 24px);
  margin-top: 4px;
}

.big-card__description > p {
  color: #999999;
  text-align: justify;
}