<a href="#" target="_self">
  <div class="small-card__container">
    <div class="small-card__content">
      <div class="small-card__photo">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F048%2F910%2F778%2Fnon_2x%2Fdefault-image-missing-placeholder-free-vector.jpg&f=1&nofb=1&ipt=dd5b84617cbdc6862d27dfdb13a57c5a5da87030f644fb245ef1e5c6a9aa43c8" alt="">
      </div>
      <div class="small-card__title">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi, nam eius est doloribus sint aliquam id.
      </div>
    </div>
    <hr>
  </div>
</a>