<div class="menu-bar__container">
  <ul>
    <li><a href="https://www.linkedin.com/in/beacastrodev/" target="_blank" title="Perfil no linkedin de Beatriz Castro">LinkedIn</a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/beacastroalves" target="_blank" title="Perfil no github de Beatriz Castro">GitHub</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.youtube.com/@devaguia" target="_blank" title="Canal do Professor - Felipe Aguiar">Youtube</a></li>
  </ul>
</div>